#cabecalho {
  height: 90px;
  padding-left: 50px;
  border-radius: 20px;
  display: flex;
  flex-flow: row wrap;
}

#nome-pagina {
  padding: 0px 0px 0px 43px;
  margin-bottom: 0px;
}

#direita {
  flex: 50%;
}

#direita a {
  margin-left: 70%;
  color: black;
  font-size: 30px;
}

#esquerda {
  flex: 50%;
}

.compras {
  color: black;
  width: 70%;
  height: 160px;
  border-radius: 15px;
  display: flex;
  flex-flow: row wrap;
  margin: auto auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  background-color: white;

}

.compras-foto {
  flex: 10%;
  height: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 1px inset lightgray;
}

.capa img {
  width: 170px;
  height: 150px;
  object-fit: contain;
}

.compras-nome-valor {
  flex: 45%;
  font-size: 20px;
  margin-left: 10px;
}

.compras-quantidade {
  flex: 10%;
}

.compras-quantidade button {
  border: none;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.compras-quantidade input {
  width: 25px;
}

.compras-deletar {
  flex: 15%;
}

.delete {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: red;
  color: white;
  cursor: pointer;
}

#compras-quadrado {
  width: 90%;
  height: 800px;
  background-color: white;
}